<h3>React components test</h3>
<br>
<h4>Component A</h4>
{{#react}}
{
  "component": "@local_reactdemo/local_reactdemo_test",
  "props": {
    "who": "{{who}}"
  },
  "id": "local-reactdemo-a",
  "class": "p-3 border rounded mb-3"
}
<p>Loading component A...</p>
{{/react}}

<h4>Component B</h4>
{{#react}}
{
  "component": "@local_reactdemo/local_reactdemo_counter",
  "props": {
    "initial": 5
  },
  "id": "local-reactdemo-b",
  "class": "p-3 border rounded mb-3"
}
<p>Loading component B...</p>
{{/react}}

<h4>Component C</h4>
{{#react}}
{
  "component": "@local_reactdemo/local_reactdemo_message",
  "props": {
    "message": "Hello from Mustache"
  },
  "id": "local-reactdemo-c",
  "class": "p-3 border rounded mb-3"
}
<p>Loading component C...</p>
{{/react}}

<h4>Component D</h4>
{{#react}}
{
  "component": "@local_reactdemo/local_reactdemo_button",
  "props": {
    "label": "Click me",
    "message": "This popup was triggered from React + AMD core/notification"
  },
  "id": "local-reactdemo-d",
  "class": "p-3 border rounded mb-3"
}
<p>Loading component D...</p>
{{/react}}

<h4>Modal component</h4>
{{#react}}
{
  "component": "@local_reactdemo/local_reactdemo_modal_test",
  "props": {
    "contextid": "{{contextid}}"
  },
  "id": "local-reactdemo-a",
  "class": "p-3 border rounded mb-3"
}
<p>Loading component A...</p>
{{/react}}

<h4>React_autoinit API</h4>
{{#react}}
{
  "component": "@local_reactdemo/local_reactdemo_autoinit_api",
  "props": {},
  "id": "local-reactdemo-autoinit-api",
  "class": "p-3 border rounded mb-3"
}
<p>Loading react_autoinit API...</p>
{{/react}}
